.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-text-1 {
  font-family: Ubuntu;
  margin: 45px auto 0;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 512px;
  margin: 20px auto 45px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 44.83%;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-image-3 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-family: Ubuntu;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-image-4 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-family: Ubuntu;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 190px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
  }

  .u-section-1 .u-image-3 {
    height: 190px;
  }

  .u-section-1 .u-image-4 {
    height: 190px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 75px;
  margin-bottom: 45px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 543px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 11px 0;
}

.u-section-2 .u-image-1 {
  object-position: 50% 6.18%;
  width: 1080px;
  height: 529px;
  margin: 0 19px;
}

.u-section-2 .u-text-1 {
  margin: 12px auto 0 19px;
}

.u-section-2 .u-text-2 {
  margin: 38px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 918px;
    height: 450px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 698px;
    height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 255px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 157px;
  }
}